4th/ADRSZGP_GPS/node-red-gps-serial-sample.json
[{"id":"5a5249c7.25ba68","type":"serial in","z":"a47215de.18eb58","name":"","serial":"2e9f08ab.e6c55","x":130,"y":140,"wires":[["5bbe881a.b93848","bd5c9f6a.755808"]]},{"id":"f6bf4a1e.5d46a8","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":120,"wires":[]},{"id":"5bbe881a.b93848","type":"switch","z":"a47215de.18eb58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GPGGA","vt":"str"},{"t":"cont","v":"GPGSA","vt":"str"},{"t":"cont","v":"GPGSV","vt":"str"},{"t":"cont","v":"GPRMC","vt":"str"},{"t":"cont","v":"GPVTG","vt":"str"},{"t":"cont","v":"PGTOP","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":310,"y":140,"wires":[["6c9c8ae4.cb2f84","c5802c31.e600d"],["329dbe9e.be7662"],["329dbe9e.be7662"],["329dbe9e.be7662"],["329dbe9e.be7662"],["248ebd6c.da7b1a"]]},{"id":"248ebd6c.da7b1a","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"6c9c8ae4.cb2f84","type":"split","z":"a47215de.18eb58","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":120,"wires":[["ab37990.8186c68"]]},{"id":"ab37990.8186c68","type":"join","z":"a47215de.18eb58","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":120,"wires":[["6e5fe7e6.244f5","53a24029.5a592"]]},{"id":"6e5fe7e6.244f5","type":"function","z":"a47215de.18eb58","name":"","func":"var latdeg = parseInt(msg.payload[2].slice(0,2),10);\nvar latsec = parseFloat(msg.payload[2].slice(2))/60;\nvar londeg = parseInt(msg.payload[4].slice(0,3),10);\nvar lonsec = parseFloat(msg.payload[4].slice(3))/60;\nvar lat = latdeg+latsec;\nvar lon = londeg+lonsec;\nflow.set('lat',lat);\nflow.set('lon',lon);\nmsg.payload = [lat,lon];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["f6bf4a1e.5d46a8"]]},{"id":"53a24029.5a592","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":60,"wires":[]},{"id":"329dbe9e.be7662","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":160,"wires":[]},{"id":"c5802c31.e600d","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":80,"wires":[]},{"id":"bd5c9f6a.755808","type":"debug","z":"a47215de.18eb58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":240,"wires":[]},{"id":"2e9f08ab.e6c55","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"}]