4th/ADRSZGP_GPS/Node_RED.json
[
    {
        "id": "ca84d65c.16ae78",
        "type": "serial in",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "serial": "3d129e9e.bd5622",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "41b60e99.60dfc",
                "d58728e7.004e68"
            ]
        ]
    },
    {
        "id": "b34ce3fe.4bf95",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "41b60e99.60dfc",
        "type": "switch",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "GPGGA",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "GPGSA",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "GPGSV",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "GPRMC",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "GPVTG",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PGTOP",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "c476fdf5.94d69",
                "c8a74c35.fd159"
            ],
            [
                "7f76b054.d952c"
            ],
            [
                "7f76b054.d952c"
            ],
            [
                "7f76b054.d952c"
            ],
            [
                "7f76b054.d952c"
            ],
            [
                "8ff110b.5935ff"
            ]
        ]
    },
    {
        "id": "8ff110b.5935ff",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "c476fdf5.94d69",
        "type": "split",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ee73859a.431fa8"
            ]
        ]
    },
    {
        "id": "ee73859a.431fa8",
        "type": "join",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "3e927409.d9c8fc",
                "99402269.5d552"
            ]
        ]
    },
    {
        "id": "3e927409.d9c8fc",
        "type": "function",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "func": "var latdeg = parseInt(msg.payload[2].slice(0,2),10);\nvar latsec = parseFloat(msg.payload[2].slice(2))/60;\nvar londeg = parseInt(msg.payload[4].slice(0,3),10);\nvar lonsec = parseFloat(msg.payload[4].slice(3))/60;\nvar lat = latdeg+latsec;\nvar lon = londeg+lonsec;\nflow.set('lat',lat);\nflow.set('lon',lon);\nmsg.payload = [lat,lon];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "b34ce3fe.4bf95"
            ]
        ]
    },
    {
        "id": "99402269.5d552",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f76b054.d952c",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8a74c35.fd159",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "d58728e7.004e68",
        "type": "debug",
        "z": "7b78c85e.c6eae8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "3d129e9e.bd5622",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    }
]