5th/ADRSZCS_Color_Sensor/adrszCS_sample20190308.json
[{"id":"db1e2566.16fc88","type":"tab","label":"adrszCS sample","disabled":false,"info":""},{"id":"abe4f0e1.96a3","type":"comment","z":"db1e2566.16fc88","name":"zeroone 共通仕様","info":"電源制御機能\n\n・ＳＷ１：シャットダウンスイッチ：GPIO06（pin31）にスイッチを接続し、プルアップ（10ＫΩ：3.3Ｖ）\n\n　　　　　ラズハ゜イのプログラムで制御\n\n・ＳＷ２：再起動スイッチ：ラズハ゜イの“ＲＵＮ”書いてある端子に接続、プルアップ（10ＫΩ：3.3Ｖ）\n\n・ＬＥＤ１（緑）：状態確認表示：GPIO26（pin37）に接続、アクティブ・ロー\n\n　　　　ラズハ゜イのプログラムで制御、１秒周期の点滅","x":1240,"y":520,"wires":[]},{"id":"4a20fe7f.74b42","type":"comment","z":"db1e2566.16fc88","name":"ＳＷ１：シャットダウンスイッチ：GPIO06（pin31）","info":"","x":1421,"y":559,"wires":[]},{"id":"6d7b131a.115fcc","type":"comment","z":"db1e2566.16fc88","name":"ＳＷ２：再起動スイッチ：ラズハ゜イの“ＲＵＮ”","info":"","x":1400,"y":940,"wires":[]},{"id":"2b6ee5c5.76a52a","type":"comment","z":"db1e2566.16fc88","name":"ＬＥＤ１（緑）：状態確認表示：GPIO26（pin37）","info":"","x":1401,"y":979,"wires":[]},{"id":"b24ba13e.4418c","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1271,"y":1039,"wires":[["5cfb958c.603ffc"]]},{"id":"5cfb958c.603ffc","type":"trigger","z":"db1e2566.16fc88","op1":"0","op2":"1","op1type":"num","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1451,"y":1079,"wires":[["9f47e0e4.4ffe5"]]},{"id":"9f47e0e4.4ffe5","type":"rpi-gpio out","z":"db1e2566.16fc88","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":1641,"y":1119,"wires":[]},{"id":"df5df239.e46f6","type":"exec","z":"db1e2566.16fc88","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1600,"y":720,"wires":[[],[],[]]},{"id":"d6df312d.b3286","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":720,"wires":[["df5df239.e46f6"]]},{"id":"4a3b3c88.29bb84","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":1250,"y":1160,"wires":[["ae202e65.dabb2"]]},{"id":"ae202e65.dabb2","type":"trigger","z":"db1e2566.16fc88","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1420,"y":1160,"wires":[["9f47e0e4.4ffe5"]]},{"id":"9c52c2f0.f6f1a","type":"exec","z":"db1e2566.16fc88","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1550,"y":880,"wires":[[],[],[]]},{"id":"7bbb4094.17aef","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1301,"y":879,"wires":[["9c52c2f0.f6f1a"]]},{"id":"9ec7ecf2.bd73","type":"link in","z":"db1e2566.16fc88","name":"led_on","links":["1560ead8.55a005","20ca7777.49bbd8"],"x":1275,"y":1220,"wires":[["ae202e65.dabb2"]]},{"id":"65bd7502.1d9a7c","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":540,"wires":[["c35d693e.d65a08"]]},{"id":"39ace986.726eb6","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":620,"wires":[]},{"id":"c35d693e.d65a08","type":"exec","z":"db1e2566.16fc88","command":"sudo python /home/pi/zeroone/5_1adrszCS/adrszCS_CSmode_sample.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCS_CSmode_sample.py","x":520,"y":560,"wires":[["39ace986.726eb6","c422fa7d.e1ec18","d1ff1d7e.e8ade","9cc5a643.abe9b8"],["39ace986.726eb6"],["39ace986.726eb6"]]},{"id":"c422fa7d.e1ec18","type":"json","z":"db1e2566.16fc88","name":"","property":"payload","action":"","pretty":false,"x":290,"y":700,"wires":[["60e920cf.cc76e","e71fe887.c1a0a8"]]},{"id":"60e920cf.cc76e","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":760,"wires":[]},{"id":"e71fe887.c1a0a8","type":"function","z":"db1e2566.16fc88","name":"コード判定","func":"var msg1 = { payload:\"出力１への出力\" };\nvar msg2 = { payload:\"出力2の出力\" };\nvar msg3 = { payload:\"出力3の出力\" };\nvar msg4 = { payload:\"出力4の出力\" };\n\nvar g =  msg.payload.g_data;\nvar r =  msg.payload.r_data;\nvar b =  msg.payload.b_data;\nvar ir =  msg.payload.ir_data;\n////msg.payload = 't=';\nmsg1.payload = g;\n//msg1.payload = gdata;\nmsg2.payload = r;\nmsg3.payload = b;\nmsg4.payload = ir;\n\n//msg4.payload = (g);\n\nreturn [ msg1, msg2, msg3, msg4 ];\n//return msg1;\n","outputs":4,"noerr":0,"x":500,"y":700,"wires":[["af7bc451.6b23e8","23ddd1c8.e22b4e"],["4e38ac0d.6b10d4","e9d1eb13.e28338"],["2e0f5d9f.6a7b82","9ebc7ea9.c1867"],["c49da78e.045f48","5bc44407.dd0f5c"]]},{"id":"af7bc451.6b23e8","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":640,"wires":[]},{"id":"4e38ac0d.6b10d4","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":720,"wires":[]},{"id":"2e0f5d9f.6a7b82","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":800,"wires":[]},{"id":"e9d1eb13.e28338","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"99633e6b.cb3a3","order":0,"width":0,"height":0,"label":"chart r","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":680,"wires":[[],[]]},{"id":"23ddd1c8.e22b4e","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"99633e6b.cb3a3","order":0,"width":0,"height":0,"label":"chart g","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":620,"wires":[[],[]]},{"id":"9ebc7ea9.c1867","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"99633e6b.cb3a3","order":0,"width":0,"height":0,"label":"chart b","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":760,"wires":[[],[]]},{"id":"9cc5a643.abe9b8","type":"delay","z":"db1e2566.16fc88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":500,"wires":[[]]},{"id":"c49da78e.045f48","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"99633e6b.cb3a3","order":0,"width":0,"height":0,"label":"chart ir","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":840,"wires":[[],[]]},{"id":"5bc44407.dd0f5c","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":880,"wires":[]},{"id":"9ff3f2e.4326f1","type":"comment","z":"db1e2566.16fc88","name":"CS mode　カラーセンサ＿ＲＧＢ","info":"","x":300,"y":500,"wires":[]},{"id":"6ad38272.66ccfc","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["1ab713fb.951bec"]]},{"id":"8d330bdc.b1db08","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":180,"wires":[]},{"id":"1ab713fb.951bec","type":"exec","z":"db1e2566.16fc88","command":"sudo python /home/pi/zeroone/5_1adrszCS/adrszCS_ALSmode_sample.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCS_ALSmode_sample.py","x":520,"y":120,"wires":[["8d330bdc.b1db08","5fa92790.fb3fb8"],["8d330bdc.b1db08"],["8d330bdc.b1db08"]]},{"id":"5fa92790.fb3fb8","type":"json","z":"db1e2566.16fc88","name":"","property":"payload","action":"","pretty":false,"x":290,"y":260,"wires":[["fc8f9373.267b7","e6e8cd31.8fceb"]]},{"id":"fc8f9373.267b7","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":320,"wires":[]},{"id":"2f283518.ee786a","type":"function","z":"db1e2566.16fc88","name":"コード判定","func":"var msg1 = { payload:\"出力１への出力\" };\nvar msg2 = { payload:\"出力2の出力\" };\nvar msg3 = { payload:\"出力3の出力\" };\nvar msg4 = { payload:\"出力4の出力\" };\n\nvar g =  msg.payload.g_data;\nvar r =  msg.payload.r_data;\nvar b =  msg.payload.b_data;\nvar ir =  msg.payload.ir_data;\nvar lux =  msg.payload.lux_data;\n////msg.payload = 't=';\nmsg1.payload = lux;\nmsg2.payload = g;\nmsg3.payload = ir;\n//msg4.payload = ir;\n\n//msg4.payload = (g);\n\nreturn [ msg1, msg2, msg3, msg4 ];\n//return msg1;\n","outputs":3,"noerr":0,"x":750,"y":320,"wires":[["b77daf67.e263f","d70455c4.dc1088"],["bc630c83.580ba","d2c17002.fabdf"],["2d9de480.d5e91c","46d59f76.275bc"]]},{"id":"d2c17002.fabdf","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":380,"wires":[]},{"id":"bc630c83.580ba","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"965e9ba8.b0e4d8","order":2,"width":0,"height":0,"label":"chart g","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":340,"wires":[[],[]]},{"id":"d1ff1d7e.e8ade","type":"delay","z":"db1e2566.16fc88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":560,"wires":[[]]},{"id":"2d9de480.d5e91c","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"965e9ba8.b0e4d8","order":3,"width":0,"height":0,"label":"chart ir","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":420,"wires":[[],[]]},{"id":"46d59f76.275bc","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":460,"wires":[]},{"id":"388636a8.646b8a","type":"comment","z":"db1e2566.16fc88","name":"ARS mode 周囲光","info":"","x":250,"y":60,"wires":[]},{"id":"e6e8cd31.8fceb","type":"function","z":"db1e2566.16fc88","name":"ＬＵＸ　換算","func":"var msg1 = { payload:\"出力１への出力\" };\nvar msg2 = { payload:\"出力2の出力\" };\nvar msg3 = { payload:\"出力3の出力\" };\nvar msg4 = { payload:\"出力4の出力\" };\n\nvar g =  msg.payload.g_data;\n//var r =  msg.payload.r_data;\n//var b =  msg.payload.b_data;\nvar ir =  msg.payload.ir_data;\n////msg.payload = 't=';\nvar GAIN = 3;\nvar INT = 1;\nvar C1 = 0.033;\nvar lux = 0.0;\nlux = (1-C1*ir/g);\nlux = lux*0.8*g;\nlux = lux/(GAIN*INT);\nmsg.payload.lux_data = lux;\n\nmsg1.payload = msg.payload;\n\nmsg2.payload = lux;\nmsg3.payload = g;\nmsg4.payload = ir;\n\n//msg4.payload = (g);\n\nreturn [ msg1, msg2, msg3, msg4 ];\n//return msg1;\n\n","outputs":4,"noerr":0,"x":510,"y":260,"wires":[["2f283518.ee786a"],["d3b5081b.e383f8"],[],[]]},{"id":"d3b5081b.e383f8","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"d70455c4.dc1088","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":300,"wires":[]},{"id":"b77daf67.e263f","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"965e9ba8.b0e4d8","order":1,"width":0,"height":0,"label":"chart LUX","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":260,"wires":[[],[]]},{"id":"ddd1697b.737628","type":"inject","z":"db1e2566.16fc88","name":"ＯＦＦ：０","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":340,"wires":[["c99eaac2.c1ed38"]]},{"id":"750a523f.d8382c","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":400,"wires":[]},{"id":"c99eaac2.c1ed38","type":"rpi-gpio out","z":"db1e2566.16fc88","name":"","pin":"12","set":"","level":"0","freq":"","out":"pwm","x":1580,"y":180,"wires":[]},{"id":"b6747616.0b2ca8","type":"inject","z":"db1e2566.16fc88","name":"ＯＮ：１","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1300,"y":280,"wires":[["c99eaac2.c1ed38"]]},{"id":"de9b3b43.051558","type":"rpi-gpio in","z":"db1e2566.16fc88","name":"","pin":"16","intype":"up","debounce":"25","read":false,"x":1310,"y":400,"wires":[["750a523f.d8382c"]]},{"id":"deec936c.28e86","type":"comment","z":"db1e2566.16fc88","name":"GPIO18で、ＬＥＤ　ＯＮ：１/ＯＦＦ：０","info":"デジタルモード - msg.payloadに 0 または 1 \n(あるいは true または false ) を指定すると、\n入力値に応じて選択された物理ピンに\nハイまたはローを設定します。\n\nデプロイ時にピンの初期値として 0 または 1 \nを設定することもできます。\n\nPWMモード - 入力値に 0 から 100 の数値を指定でき。\n小数値の指定も可能です。\n\nサーボの制御にPWMモードが利用でき、\n入力に小数値も含む 10 から 20 の値が指定可能です。 \nPWMを行うハードウェアを利用していることから、\nPWMモードの指定にはGPIO2ピンが最も適しています。\nより良くサーボの制御を行いたい場合は、\nnode-red-node-pi-gpiod ノードの利用も\n検討してください。\n\n動作にはRPi.GPIO pythonライブラリの\nバージョン 0.5.10 (またはそれ以上)が必要です。","x":1380,"y":120,"wires":[]},{"id":"6da500dc.37acf","type":"inject","z":"db1e2566.16fc88","name":"ＰＷＭ：１００","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1320,"y":160,"wires":[["c99eaac2.c1ed38"]]},{"id":"fe342a9a.fd8cf8","type":"inject","z":"db1e2566.16fc88","name":"ＰＷＭ：１０","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":240,"wires":[["c99eaac2.c1ed38"]]},{"id":"18ba4317.3d86fd","type":"inject","z":"db1e2566.16fc88","name":"ＰＷＭ：50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":200,"wires":[["c99eaac2.c1ed38"]]},{"id":"199221ff.1ee43e","type":"inject","z":"db1e2566.16fc88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1000,"wires":[["1c363352.6a210d"]]},{"id":"ad676358.f09ae","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":1060,"wires":[]},{"id":"1c363352.6a210d","type":"exec","z":"db1e2566.16fc88","command":"sudo python /home/pi/zeroone/5_1adrszCS/adrszCS_CSmodeHSV_sample.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCS_CSmodeHSV_sample.py","x":510,"y":1020,"wires":[["ad676358.f09ae","7b862a0f.a2ecb4","4718cded.4c71c4"],["ad676358.f09ae"],["ad676358.f09ae"]]},{"id":"4718cded.4c71c4","type":"json","z":"db1e2566.16fc88","name":"","property":"payload","action":"","pretty":false,"x":950,"y":1000,"wires":[["190f6a85.2a6405","14e78096.cb2a5f"]]},{"id":"190f6a85.2a6405","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":970,"y":1040,"wires":[]},{"id":"14e78096.cb2a5f","type":"function","z":"db1e2566.16fc88","name":"コード判定","func":"var msg1 = { payload:\"出力１への出力\" };\nvar msg2 = { payload:\"出力2の出力\" };\nvar msg3 = { payload:\"出力3の出力\" };\nvar msg4 = { payload:\"出力4の出力\" };\n\nvar h =  msg.payload.H;\nvar s =  msg.payload.S;\nvar v =  msg.payload.V;\n\nmsg1.payload = h;\nmsg2.payload = s;\nmsg3.payload = v;\n//msg4.payload = ir;\n\n//msg4.payload = (g);\n\nreturn [ msg1, msg2, msg3, msg4 ];\n//return msg1;\n","outputs":3,"noerr":0,"x":230,"y":1200,"wires":[["d3080f3b.06e71","5d016e10.0c4d6","bf5af662.e845c8"],["b2f0f8d2.2a90f8","cef9d586.5378e8"],["fc27946a.a61c88","fdcb36f4.d7cbb8"]]},{"id":"cef9d586.5378e8","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":1300,"wires":[]},{"id":"b2f0f8d2.2a90f8","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"5de8016.c0665","order":4,"width":0,"height":0,"label":"彩度:Saturation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"255","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":460,"y":1260,"wires":[[],[]]},{"id":"7b862a0f.a2ecb4","type":"delay","z":"db1e2566.16fc88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":960,"wires":[["1c363352.6a210d"]]},{"id":"fc27946a.a61c88","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"5de8016.c0665","order":5,"width":0,"height":0,"label":"明度:Value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"255","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":450,"y":1340,"wires":[[],[]]},{"id":"fdcb36f4.d7cbb8","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1380,"wires":[]},{"id":"182fb834.6e0508","type":"comment","z":"db1e2566.16fc88","name":"CS mode　カラーセンサ＿ＲＧＢ　HSV　色相変換","info":"","x":310,"y":920,"wires":[]},{"id":"5d016e10.0c4d6","type":"debug","z":"db1e2566.16fc88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":1220,"wires":[]},{"id":"d3080f3b.06e71","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"5de8016.c0665","order":6,"width":0,"height":0,"label":"色相(Hue) 0_179","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"179","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":470,"y":1180,"wires":[[],[]]},{"id":"bf5af662.e845c8","type":"range","z":"db1e2566.16fc88","minin":"0","maxin":"179","minout":"0","maxout":"359","action":"scale","round":true,"property":"payload","name":"","x":680,"y":1220,"wires":[["8cf4496c.319088","c0b4bf94.a16fd","a191da82.f66178"]]},{"id":"8671e1d4.bfeb3","type":"comment","z":"db1e2566.16fc88","name":"色相:Hueは[0,179], 彩度:Saturationは[0,255]，明度:Valueは[0,255]","info":"","x":360,"y":1120,"wires":[]},{"id":"8cf4496c.319088","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1260,"wires":[]},{"id":"c0b4bf94.a16fd","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"5de8016.c0665","order":3,"width":0,"height":0,"label":"色相(Hue) 0-359","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"360","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740,"y":1300,"wires":[[],[]]},{"id":"206eecd9.3c0974","type":"comment","z":"db1e2566.16fc88","name":" 12色相環","info":"色相環\n私たちが良く知っている\n虹色は、\n赤→橙→黄→緑→青→藍→紫\nの七色です。\n「せい・とう・おう・りょく・せい・らん・し」と覚えると覚えやすいです。\n\n虹色の順番「赤→橙→黄→緑→青→藍→紫」に赤紫を加えて、\nリング状にならべると下のようになります。これを色相環と言います。","x":900,"y":1180,"wires":[]},{"id":"a191da82.f66178","type":"range","z":"db1e2566.16fc88","minin":"0","maxin":"359","minout":"0","maxout":"11","action":"scale","round":true,"property":"payload","name":"","x":890,"y":1220,"wires":[["3f82b05.0ac2e5","ccd6d5e.3cce628","136a8c39.ac3164"]]},{"id":"3f82b05.0ac2e5","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1260,"wires":[]},{"id":"ccd6d5e.3cce628","type":"ui_chart","z":"db1e2566.16fc88","name":"","group":"5de8016.c0665","order":2,"width":0,"height":0,"label":"色相(Hue) 12 color","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":950,"y":1300,"wires":[[],[]]},{"id":"136a8c39.ac3164","type":"function","z":"db1e2566.16fc88","name":"虹色は、0赤→1,2橙→3黄→4,5緑→6,7青→8,9藍→10,11紫の七色  赤紫","func":"var msg1 = { payload:\"出力１への出力\" };\nvar msg2 = { payload:\"出力2の出力\" };\nvar msg3 = { payload:\"出力3の出力\" };\nvar msg4 = { payload:\"出力4の出力\" };\n\n//return msg1;\nvar color12 = msg.payload;\nif (color12 === 0){\n    msg1.payload = '赤';\n}else if(　color12 === 1){\n    msg1.payload = '橙';\n}else if(　color12 === 2){\n    msg1.payload = '橙';\n}else if(　color12 === 3){\n    msg1.payload = '黄';\n}else if(　color12 === 4){\n    msg1.payload = '緑';\n}else if(　color12 === 5){\n    msg1.payload = '緑';\n}else if(　color12 === 6){\n    msg1.payload = '青';\n}else if(　color12 === 7){\n    msg1.payload = '青';\n}else if(　color12 === 8){\n    msg1.payload = '藍';\n}else if(　color12 === 9){\n    msg1.payload = '藍';\n}else if(　color12 === 10){\n    msg1.payload = '紫';\n}else if(　color12 === 11){\n    msg1.payload = '紫';\n\n}\nreturn [ msg1, msg2, msg3, msg4 ];\n","outputs":4,"noerr":0,"x":1090,"y":1400,"wires":[["d5f45394.d185f","3cb133f5.226d0c"],[],[],[]]},{"id":"d5f45394.d185f","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1460,"wires":[]},{"id":"3cb133f5.226d0c","type":"ui_text","z":"db1e2566.16fc88","group":"5de8016.c0665","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1380,"wires":[]},{"id":"196a33e1.44e41c","type":"comment","z":"db1e2566.16fc88","name":"色相 0 - 360","info":"","x":690,"y":1180,"wires":[]},{"id":"416f32f6.fdb4cc","type":"rpi-gpio in","z":"db1e2566.16fc88","name":"","pin":"31","intype":"tri","debounce":"3000","read":true,"x":1170,"y":620,"wires":[["ea735276.6f862","1fd76843.c95be8"]]},{"id":"ea735276.6f862","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":660,"wires":[]},{"id":"d4d0bcff.c442d","type":"debug","z":"db1e2566.16fc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":620,"wires":[]},{"id":"1fd76843.c95be8","type":"switch","z":"db1e2566.16fc88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1470,"y":620,"wires":[["d4d0bcff.c442d","df5df239.e46f6"]]},{"id":"99633e6b.cb3a3","type":"ui_group","z":"","name":"カラーセンサ　ＣＳ　ｍｏｄｅ","tab":"de9b5e9a.577e6","disp":true,"width":"6","collapse":false},{"id":"965e9ba8.b0e4d8","type":"ui_group","z":"","name":"周囲光　ＡＬＳ","tab":"de9b5e9a.577e6","disp":true,"width":"6","collapse":false},{"id":"5de8016.c0665","type":"ui_group","z":"","name":"HSV","tab":"de9b5e9a.577e6","disp":true,"width":"6","collapse":false},{"id":"de9b5e9a.577e6","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard"}]