5th/ADRSZEI_Electric_Paper/adrszEI_node-red_sample.json
[{"id":"49a1d49c.e4225c","type":"tab","label":"adrszEI_出荷試験","disabled":false,"info":""},{"id":"69348e05.25593","type":"comment","z":"49a1d49c.e4225c","name":"ＬＥＤ１（緑）：状態確認表示：GPIO26（pin37）","info":"","x":510,"y":2080,"wires":[]},{"id":"e0a548.57a2eab8","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":2140,"wires":[["c1aa799b.1abb58"]]},{"id":"c1aa799b.1abb58","type":"trigger","z":"49a1d49c.e4225c","op1":"0","op2":"1","op1type":"num","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":2180,"wires":[["8b58bf5f.7d3e5"]]},{"id":"8b58bf5f.7d3e5","type":"rpi-gpio out","z":"49a1d49c.e4225c","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":809,"y":2201,"wires":[]},{"id":"a8bdb311.12e3f","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":359,"y":2261,"wires":[["694e74dd.31b38c"]]},{"id":"694e74dd.31b38c","type":"trigger","z":"49a1d49c.e4225c","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":529,"y":2261,"wires":[["8b58bf5f.7d3e5"]]},{"id":"fa99759f.32ade8","type":"link in","z":"49a1d49c.e4225c","name":"led_on","links":["1560ead8.55a005","20ca7777.49bbd8"],"x":384,"y":2321,"wires":[["694e74dd.31b38c"]]},{"id":"aca31430.9c5fa8","type":"function","z":"49a1d49c.e4225c","name":"文字表示","func":"var msg_prev = msg.payload;\n//１行目\nmsg.payload　= 'adrszEI試験開始'\nmsg.payload +=　' ';\n//2行目\nmsg.payload　+= msg_prev;\nmsg.payload +=　' ';\n//3行目\nmsg.payload　+= '上記IP+:1880で'\nmsg.payload +=　' ';\n//4行目\nmsg.payload　+= 'ブラウザで接続'\nmsg.payload +=　' ';\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1240,"wires":[["d5e8cff7.ae44b","20577380.444c4c"]]},{"id":"80a6df22.8e6b5","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"192.168.1.140","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":1200,"wires":[["aca31430.9c5fa8"]]},{"id":"d5e8cff7.ae44b","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":1280,"wires":[]},{"id":"73f5b842.e8b188","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":1060,"wires":[["ac76aefb.07d3"]]},{"id":"a29045cb.e1a228","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":1080,"wires":[]},{"id":"ac76aefb.07d3","type":"exec","z":"49a1d49c.e4225c","command":" ip address |grep wlan  |grep '[1-9][0-9][0-9][.][1-9][0-9][0-9][.][0-9][.]' |awk '{print substr($0, 10,13)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":1120,"wires":[["a29045cb.e1a228","46613b3d.81d384"],[],[]]},{"id":"6c47593d.5859a8","type":"comment","z":"49a1d49c.e4225c","name":"初期ＩＰアドレス取得表示","info":"","x":290,"y":1020,"wires":[]},{"id":"a0fd660d.58e538","type":"inject","z":"49a1d49c.e4225c","name":"表示文字列","topic":"","payload":"試験2月15日 14時30分 adrszei_eink 01234567890123456","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":780,"wires":[["9a1c1ff4.7d4fd"]]},{"id":"3adaf3e9.c29b8c","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":920,"wires":[]},{"id":"9a1c1ff4.7d4fd","type":"exec","z":"49a1d49c.e4225c","command":"sudo python3 /home/pi/zeroone/5_2adrszEI/adrszEI_sample.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":760,"y":840,"wires":[["3adaf3e9.c29b8c"],["3adaf3e9.c29b8c"],["3adaf3e9.c29b8c"]]},{"id":"a398d8ec.a78d18","type":"comment","z":"49a1d49c.e4225c","name":"ＭＱＴＴ入力による文字表示（12文字＊4行）","info":"","x":340,"y":680,"wires":[]},{"id":"82d37b2e.aab7f8","type":"inject","z":"49a1d49c.e4225c","name":"ＢＭＰファイルの指定　checker1-2_201902.bmp","topic":"","payload":"/home/pi/zeroone/5_2adrszEI/checker1-2_201902.bmp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":100,"wires":[["49fb498.77635b8"]]},{"id":"3807a291.4d0c7e","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","x":1160,"y":200,"wires":[]},{"id":"49fb498.77635b8","type":"exec","z":"49a1d49c.e4225c","command":"sudo python3 /home/pi/zeroone/5_2adrszEI/test201902/adrszEI_sample_bmp.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"/home/pi/zeroone/5_2adrszEI/test201902/adrszEI_sample_bmp.py","x":950,"y":140,"wires":[["3807a291.4d0c7e"],["3807a291.4d0c7e"],["3807a291.4d0c7e"]]},{"id":"7d34a094.40033","type":"comment","z":"49a1d49c.e4225c","name":"画像表示サンプルプログラムによる画像表示（ＢＭＰファイル）","info":"","x":400,"y":60,"wires":[]},{"id":"fe85d8ec.6cffd8","type":"inject","z":"49a1d49c.e4225c","name":"ＭＰファイルの指定　ADRSZEI-Displey2_250x128wb.bmp","topic":"","payload":"/home/pi/zeroone/5_2adrszEI/ADRSZEI-Displey2_250x128wb.bmp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":180,"wires":[["49fb498.77635b8"]]},{"id":"4a6b387b.3cf6e8","type":"inject","z":"49a1d49c.e4225c","name":"ＢＭＰファイルの指定　checker2-2_201902.bmp","topic":"","payload":"/home/pi/zeroone/5_2adrszEI/checker2-2_201902.bmp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":140,"wires":[["49fb498.77635b8"]]},{"id":"d2a0039c.8f9fb","type":"inject","z":"49a1d49c.e4225c","name":"表示文字列","topic":"","payload":"試験2月15日 14時30分 adrszei_eink 01234567890123456","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":360,"wires":[["c78557a1.2d7c98"]]},{"id":"ccb7cbfc.1906b8","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":440,"wires":[]},{"id":"c78557a1.2d7c98","type":"exec","z":"49a1d49c.e4225c","command":"sudo python3 /home/pi/zeroone/5_2adrszEI/adrszEI_sample.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":360,"wires":[["ccb7cbfc.1906b8"],["ccb7cbfc.1906b8"],["ccb7cbfc.1906b8"]]},{"id":"60eb78cb.a58b68","type":"comment","z":"49a1d49c.e4225c","name":"文字表示サンプルプログラムによる文字表示（12文字＊4行）","info":"","x":370,"y":320,"wires":[]},{"id":"237c6299.fc124e","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":600,"wires":[]},{"id":"d858b404.817ea8","type":"exec","z":"49a1d49c.e4225c","command":"sudo python3 /home/pi/zeroone/5_2adrszEI/adrszEI_sample_namecard.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":540,"wires":[["237c6299.fc124e"],["237c6299.fc124e"],["237c6299.fc124e"]]},{"id":"851c2e5b.cad8c","type":"comment","z":"49a1d49c.e4225c","name":"名札表示サンプルプログラムによる文字表示（2行）","info":"","x":360,"y":480,"wires":[]},{"id":"3274919.fb50e6e","type":"inject","z":"49a1d49c.e4225c","name":"表示文字列　零壱","topic":"","payload":"（株）ビット・トレード・ワン 零壱","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":540,"wires":[["d858b404.817ea8"]]},{"id":"c0433d3c.3320a","type":"comment","z":"49a1d49c.e4225c","name":"zeroone 共通仕様","info":"電源制御機能\n\n・ＳＷ１：シャットダウンスイッチ：GPIO06（pin31）にスイッチを接続し、プルアップ（10ＫΩ：3.3Ｖ）\n\n　　　　　ラズハ゜イのプログラムで制御\n\n・ＳＷ２：再起動スイッチ：ラズハ゜イの“ＲＵＮ”書いてある端子に接続、プルアップ（10ＫΩ：3.3Ｖ）\n\n・ＬＥＤ１（緑）：状態確認表示：GPIO26（pin37）に接続、アクティブ・ロー\n\n　　　　ラズハ゜イのプログラムで制御、１秒周期の点滅","x":299,"y":1681,"wires":[]},{"id":"88ad0221.fa043","type":"comment","z":"49a1d49c.e4225c","name":"ＳＷ１：シャットダウンスイッチ：GPIO06（pin31）","info":"","x":530,"y":1720,"wires":[]},{"id":"1b5917c.18a69e8","type":"comment","z":"49a1d49c.e4225c","name":"ＳＷ２：再起動スイッチ：ラズハ゜イの“ＲＵＮ”","info":"","x":499,"y":2021,"wires":[]},{"id":"27a7e6d5.3ea4aa","type":"exec","z":"49a1d49c.e4225c","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":639,"y":1901,"wires":[[],[],[]]},{"id":"19a3de3a.e496d2","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1900,"wires":[["27a7e6d5.3ea4aa"]]},{"id":"3cb61fa4.0f13c","type":"exec","z":"49a1d49c.e4225c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":649,"y":1961,"wires":[[],[],[]]},{"id":"6c82136.c24c8ec","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1960,"wires":[["3cb61fa4.0f13c"]]},{"id":"a78c163b.091618","type":"rpi-gpio in","z":"49a1d49c.e4225c","name":"","pin":"31","intype":"tri","debounce":"3000","read":true,"x":409,"y":1801,"wires":[["c1e44b49.4e07a8","46af6d6a.f7fa14"]]},{"id":"c1e44b49.4e07a8","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":459,"y":1861,"wires":[]},{"id":"57f26a8b.97c194","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":819,"y":1801,"wires":[]},{"id":"46af6d6a.f7fa14","type":"switch","z":"49a1d49c.e4225c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":619,"y":1801,"wires":[["57f26a8b.97c194","27a7e6d5.3ea4aa"]]},{"id":"46613b3d.81d384","type":"function","z":"49a1d49c.e4225c","name":"改行コード削除","func":"/**\n * 改行の削除\n * \n * @param {String} str 変換したい文字列\n */\nvar removeNl = function (str) {\n    return str.replace(/\\n/g, '');\n};\nin_msg = msg.payload;\nout_msg = in_msg.replace(/\\n/g, '');\nmsg.payload = out_msg\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1080,"wires":[["4764aaf9.4190f4","aca31430.9c5fa8"]]},{"id":"4764aaf9.4190f4","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":1140,"wires":[]},{"id":"119ddc62.8894c4","type":"inject","z":"49a1d49c.e4225c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1400,"wires":[["f820649d.64ae48"]]},{"id":"83765406.cac438","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":1420,"wires":[]},{"id":"f820649d.64ae48","type":"exec","z":"49a1d49c.e4225c","command":" ip address |grep wlan  |grep '[1-9][0-9][0-9][.][1-9][0-9][0-9][.][0-9][.]' |awk '{print substr($0, 10,13)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":660,"y":1460,"wires":[["83765406.cac438","e639dd97.4d813"],[],[]]},{"id":"37aa565f.1fed3a","type":"comment","z":"49a1d49c.e4225c","name":"動作中ＩＰアドレス,世界時間、日本時間表示","info":"","x":310,"y":1360,"wires":[]},{"id":"e639dd97.4d813","type":"function","z":"49a1d49c.e4225c","name":"改行コード削除","func":"/**\n * 改行の削除\n * \n * @param {String} str 変換したい文字列\n */\nvar removeNl = function (str) {\n    return str.replace(/\\n/g, '');\n};\nin_msg = msg.payload;\nout_msg = in_msg.replace(/\\n/g, '');\nmsg.payload = out_msg\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1420,"wires":[["d8ed2b54.708c28","74bda41b.a7dd8c"]]},{"id":"d8ed2b54.708c28","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":1480,"wires":[]},{"id":"74bda41b.a7dd8c","type":"function","z":"49a1d49c.e4225c","name":"時刻メッセージ","func":"var msg_pre = msg.payload;\n\n//検索期間の設定（現在の日時からspanで指定した期間を検索）\n//var getSearchText = function ( nowdate , span ) {\n//var startdate = new Date( nowdate.getFullYear() , nowdate.getMonth() , nowdate.getDate() ,\n//nowdate.getHours() , nowdate.getMinutes() - span , nowdate.getSeconds() );\n//return getTimestamp( startdate ) + \" TO \" + getTimestamp( nowdate );\n//};\n//検索期間の設定（現在の日時からspanで指定した期間を検索）\nvar getSearchText = function ( nowdate , span ) {\nvar startdate = new Date(  nowdate.getMonth() , nowdate.getDate() ,\nnowdate.getHours() , nowdate.getMinutes() - span , nowdate.getSeconds() );\nreturn  getTimestamp( nowdate );\n};\n\n//タイムスタンプの生成　世界時間\nvar getTimestamp = function ( date ) {\n    date.setTime(date.getTime() - (1000 * 60 * 60 * 9 ));    //1000*60秒*60分*9時間\n    var yyyy = date.getFullYear();\n    mm = ('0' + (date.getMonth() + 1)).slice(-2);\n    dd = ('0' + date.getDate()).slice(-2);\n    h = ('0' + date.getHours()).slice(-2);\n    m = ('0' + date.getMinutes()).slice(-2);\n    s = ('0' + date.getSeconds()).slice(-2);\n    //ts = yyyy + '-' + mm + '-' + dd + 'T' + h + ':' + m + ':' + s + 'Z';\n    //ts = '世界時間' + mm + '月' + dd + '日' + h + '時' + m + '分' ;\n    ts = '世界時間' +  h + '時' + m + '分' ;\n\nreturn ts;\n};\n\n//表示用日付の生成 日本時間\nvar getDisplayDatetime = function ( date ) {\n    date.setTime(date.getTime() + (1000 * 60 * 60 * 9 ));    //1000*60秒*60分*9時間\n    var yyyy = date.getFullYear();\n    mm = ('0' + (date.getMonth() + 1)).slice(-2);\n    dd = ('0' + date.getDate()).slice(-2);\n    h = ('0' + date.getHours()).slice(-2);\n    //ts = yyyy + '年' + mm + '月' + dd + '日' + h + ':' + m + ':' + s;\n    //ts = '日本時間' + mm + '月' + dd + '日' + h + '時' + m + '分' ; \n    ts = '日本時間' + h + '時' + m + '分' ;    \n\n    //ts = yyyy + ':' + mm + '/' + dd + '__' + h + ':' + m + ':' + s;\nreturn ts;\n};\nvar span = 60;\nvar nowdate = new Date();\n//var dispdate = getDisplayDatetime();\n\n//msg.payload = getSearchText( nowdate , span );\nmsg.payload = 'IP:';\nmsg.payload += msg_pre;\nmsg.payload += ' ';\nmsg.payload += getTimestamp( nowdate );\nmsg.payload += ' ';\nmsg.payload += getDisplayDatetime( nowdate);\nmsg.payload += ' ';\nmsg.payload += '12文字＊4行';\n\n//グローバル変数に日時を格納\ncontext.global.date = getDisplayDatetime( nowdate );\ncontext.global.span = span;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":1580,"wires":[["519f0ada.890a54","20577380.444c4c"]]},{"id":"519f0ada.890a54","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":1640,"wires":[]},{"id":"85707438.aa9c38","type":"mosca in","z":"49a1d49c.e4225c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":240,"y":740,"wires":[["2c967053.be53a"]]},{"id":"2c967053.be53a","type":"debug","z":"49a1d49c.e4225c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":720,"wires":[]},{"id":"d2cd156a.61c3c8","type":"mqtt in","z":"49a1d49c.e4225c","name":"","topic":"adrszEI_in","qos":"2","broker":"a3e40ba5.7bdb38","x":280,"y":840,"wires":[["9a1c1ff4.7d4fd"]]},{"id":"b8876ac5.eda6b8","type":"inject","z":"49a1d49c.e4225c","name":"表示文字列","topic":"","payload":"試験2月15日 14時30分 adrszei_eink 01234567890123456","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":1160,"wires":[["20577380.444c4c"]]},{"id":"20577380.444c4c","type":"mqtt out","z":"49a1d49c.e4225c","name":"","topic":"adrszEI_in","qos":"","retain":"","broker":"a3e40ba5.7bdb38","x":1560,"y":1260,"wires":[]},{"id":"a3e40ba5.7bdb38","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]