4th/ADRSZCM_Clamp_Meter/adrszCM_node-red-sample.json
[{"id":"43ac2ee6.71224","type":"tab","label":"adrszCM","disabled":false,"info":""},{"id":"50b18de3.887fa4","type":"inject","z":"43ac2ee6.71224","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"2","x":330,"y":220,"wires":[["d1a4e2f7.ea68f"]]},{"id":"9affacc6.c84fe","type":"debug","z":"43ac2ee6.71224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":260,"wires":[]},{"id":"d1a4e2f7.ea68f","type":"exec","z":"43ac2ee6.71224","command":"sudo python3 /home/pi/zeroone/4_5adrszCM/adrszCM-ads1115diffch0.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCM-ads1115diffch0.py","x":610,"y":220,"wires":[["9affacc6.c84fe","7170c4d0.b63b3c","b7322f73.f7fe5"],["9affacc6.c84fe"],["9affacc6.c84fe"]]},{"id":"21ae29a2.842366","type":"comment","z":"43ac2ee6.71224","name":"差動　ｃｈ０","info":"","x":340,"y":180,"wires":[]},{"id":"afb76bc9.3d4cf8","type":"inject","z":"43ac2ee6.71224","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":640,"wires":[["e5eaf9a1.cc4a48"]]},{"id":"279b0f45.75d1a","type":"debug","z":"43ac2ee6.71224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":720,"wires":[]},{"id":"e5eaf9a1.cc4a48","type":"exec","z":"43ac2ee6.71224","command":"sudo python3 /home/pi/zeroone/4_5adrszCM/adrszCM-ads1115diffch2_G16.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCM-ads1115diffch2_G16.py","x":640,"y":660,"wires":[["279b0f45.75d1a","98b6302d.0a1bf","a9fed73c.38b3a8"],["279b0f45.75d1a"],["279b0f45.75d1a"]]},{"id":"598184f7.0a97cc","type":"delay","z":"43ac2ee6.71224","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":600,"wires":[["e5eaf9a1.cc4a48"]]},{"id":"5f3283e3.54333c","type":"comment","z":"43ac2ee6.71224","name":"ch2　測定範囲（0~500W）gain＝16　分解能16bit　約0.01W","info":"","x":470,"y":560,"wires":[]},{"id":"a9fed73c.38b3a8","type":"delay","z":"43ac2ee6.71224","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":260,"wires":[["d1a4e2f7.ea68f"]]},{"id":"7170c4d0.b63b3c","type":"range","z":"43ac2ee6.71224","minin":"0","maxin":"65536","minout":"0","maxout":"23076","action":"scale","round":true,"property":"payload","name":"","x":920,"y":220,"wires":[["67d73a88.45a214"]]},{"id":"98b6302d.0a1bf","type":"range","z":"43ac2ee6.71224","minin":"0","maxin":"65536","minout":"0","maxout":"1442","action":"scale","round":false,"property":"payload","name":"","x":930,"y":640,"wires":[["91b8dc9f.68154"]]},{"id":"91b8dc9f.68154","type":"range","z":"43ac2ee6.71224","minin":"0","maxin":"1","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":970,"y":720,"wires":[["bc293c64.3e12"]]},{"id":"d3daa203.1812f","type":"inject","z":"43ac2ee6.71224","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":420,"wires":[["86499d2.983d66"]]},{"id":"f1d9c143.edbd4","type":"debug","z":"43ac2ee6.71224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":460,"wires":[]},{"id":"86499d2.983d66","type":"exec","z":"43ac2ee6.71224","command":"sudo python3 /home/pi/zeroone/4_5adrszCM/adrszCM-ads1115diffch2.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"adrszCM-ads1115diffch2.py","x":590,"y":420,"wires":[["f1d9c143.edbd4","d9e0a08a.87654","598184f7.0a97cc"],["f1d9c143.edbd4"],["f1d9c143.edbd4"]]},{"id":"16781e0.e0af0e2","type":"comment","z":"43ac2ee6.71224","name":"差動　ｃｈ2","info":"","x":320,"y":380,"wires":[]},{"id":"b7322f73.f7fe5","type":"delay","z":"43ac2ee6.71224","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":460,"wires":[["86499d2.983d66"]]},{"id":"d9e0a08a.87654","type":"range","z":"43ac2ee6.71224","minin":"0","maxin":"65536","minout":"0","maxout":"23076","action":"scale","round":true,"property":"payload","name":"","x":900,"y":420,"wires":[["8d2af717.066bb8"]]},{"id":"67d73a88.45a214","type":"ui_chart","z":"43ac2ee6.71224","name":"","group":"aea5160c.2e0a48","order":1,"width":0,"height":0,"label":"ch0 0~1000W　gain=1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":220,"wires":[[],[]]},{"id":"bc293c64.3e12","type":"ui_chart","z":"43ac2ee6.71224","name":"","group":"aea5160c.2e0a48","order":4,"width":0,"height":0,"label":"ch2　測定範囲（0~500W）gain＝16　ｍW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1260,"y":720,"wires":[[],[]]},{"id":"8d2af717.066bb8","type":"ui_chart","z":"43ac2ee6.71224","name":"","group":"aea5160c.2e0a48","order":2,"width":0,"height":0,"label":"ch2 0~1000W　gain=1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":420,"wires":[[],[]]},{"id":"aea5160c.2e0a48","type":"ui_group","z":"43ac2ee6.71224","name":"交流電力計","tab":"5409b662.3c2ae8","disp":true,"width":"6","collapse":false},{"id":"5409b662.3c2ae8","type":"ui_tab","z":"43ac2ee6.71224","name":"ホーム","icon":"dashboard"}]